<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/layui/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>

<div class="layui-form layuimini-form" >
    <div class="layui-form-item">
        <label class="layui-form-label required">供应商编码</label>
        <div class="layui-input-block">
            <input th:value="${pro.id}" type="hidden" name="id"/>
            <input type="text" name="proCode" lay-verify="required" lay-reqtext="用户名不能为空" placeholder="请输入用户名" th:value="${pro.proCode}" class="layui-input">
            <tip>填写唯一编码。</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">供应商名称</label>
        <div class="layui-input-block">
            <input type="text" name="proName" lay-verify="required" lay-reqtext="手机不能为空" placeholder="请输入手机" th:value="${pro.proName}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">日期选择</label>
        <div class="layui-input-block">
            <input type="text" placeholder="yyyy-MM-dd" id="addtime" name="addtime" lay-verify="required" lay-reqtext="日期不能为空"th:value="${pro.addtime}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">供应商描述</label>
        <div class="layui-input-block">
            <textarea name="proDesc" th:text="${pro.proDesc}" class="layui-textarea" placeholder="请输入备注信息"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$,
            laydate = layui.laydate;
        //日期
        laydate.render({
            elem: '#addtime'
        });
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            parent.layer.load(1, {shade: [0.1,'#fff'] });//开启遮罩

                $.post("/provider/updateProvider",data.field,function(res){
                    var index = parent.layer.alert(res.msg, function () {
                        //刷新表格
                        parent.tab.reload();
                        // 关闭弹出层
                        parent.layer.close(index);
                        parent.layer.closeAll();


                    });
            },"json");


            return false;
        });

    });
</script>
</body>
</html>